@using ControleFinanceiro.CORE.Resources

<div class="btn-group pull-right">
    @if (Request.IsAuthenticated)
    {

        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i> @User.Identity.Name
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">@LabelsResource.AccountProfile</a></li>
            <li class="divider"></li>
            <li><a href="/Account/LogOff">@LabelsResource.SignOut</a></li>
        </ul>
    
    }
    else
    {
         <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" >
            <i class="icon-user"></i>@LabelsResource.SignIn
            <span class="caret"></span>
        </a>
          <ul class="dropdown-menu">
            <li><a data-toggle="modal" href="#modalLogin" id="btnOpenSignInModal">@LabelsResource.SignIn</a></li>
            <li class="divider"></li>
            <li>@Html.ActionLink(LabelsResource.Register, "Register", "Account")</li>
        </ul>
    
    }
</div>