@using ControleFinanceiro.CORE.Resources

    <form id="formLogOn" class="form-horizontal">
        <fieldset>
            <legend>
                 <h2>@LabelsResource.AccountSignInTitle</h2>
                <p>
                    @MessagesResource.AccountSignInMessage
                </p>
            </legend>
            <div class="control-group">
                <label class="control-label" for="UserName">@LabelsResource.UserName</label>
                <div class="controls">
                    <div class="input-append">
                        <input class="input-medium" id="UserName" name="UserName" size="16" type="text"/>
                    </div>
                </div>
            </div>
                    
            <div class="control-group">
                <label class="control-label" for="Password">@LabelsResource.Password</label>
                <div class="controls">
                    <div class="input-append">
                        <input class="input-medium" id="Password" name="Password" size="16" type="password"/>
                    </div>
                </div>
            </div>
                    
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" name="RememberMe" id="RememberMe" />
                        @LabelsResource.RememberMe
                    </label>
                </div>
            </div>
                    
            <div class="alert hide fade in" id="AlertLogon">
                <h4 class="alert-heading" id="AlertLogonTitle"></h4>
                <span id="AlertLogonMessage"></span>
            </div>
            
            <div class="form-actions">
                <button type="reset" class="btn">@LabelsResource.Cancel</button>  
                <button type="button" class="btn btn-primary" id="btnSignIn">@LabelsResource.SignIn</button>  
            </div> 
        </fieldset>
</form>
    
    
